
<div [hidden]="!submitted">
<div class="d-flex justify-content-center">
    <img src="assets/logo.png" width="40" height="40" style="font-style:italic "> 
   
    

</div>
<div class="d-flex justify-content-center">Accent On The Future</div>

<mat-tab-group>
 <mat-tab label="Login" class="home"> 
     
      
          <app-login></app-login>
  
      </mat-tab>


      <mat-tab label="Register" class="home">
        
       
          <app-register></app-register>
                </mat-tab>  
      
   
      </mat-tab-group>


    </div>
