 <body>
   

<br/>
   

  
<!-- <div class="jumbotron">
    <h1 class="display-4">Welcome To Accenture!</h1>
    <p class="lead">This tool enables yout to reserve the type of workspace you need for the days
        and times needed in the four facilities where Accenture is present in Mauritius.
        It also supports Accenture’s global space management standards that enable Workplace Solutions to deliver a more consistent reservations experience for you (so you know what to expect no matter where you are) and cost-efficient space and service solutions for Accenture.  </p>
    <hr class="my-4">
    <p>In Order to proceed with reservation you need to log in first</p>
    <a class="btn btn-primary btn-lg" (click)="signIn()">log in</a>
  </div> -->


  <div class="home">
    
    
      <mat-toolbar><h3>Welcome To Accenture!</h3></mat-toolbar>
      <mat-card>
      <p class="card-text">This tool enables yout to reserve the type of workspace you need for the days
        and times needed in the four facilities where Accenture is present in Mauritius.</p>
     <p>   It also supports Accenture’s global space management standards that enable Workplace Solutions to deliver a more consistent reservations experience for you (so you know what to expect no matter where you are) and cost-efficient space and service solutions for Accenture. </p>
     </mat-card>
    
  </div>
  <br/>


<div class="card">
       
        <div class="card-body">
          <h5 class="card-title">Feel free to contact us</h5>
          <p class="card-text">Fill in your queries on our contact us page.</p>
       
        </div>
      </div>

     
      

  </body>