<body>
<br/>
<br/>

<div class="container-fluid">
  <div class="row">

    <div class="col-6">

        <mat-card class="d-flex justify-content-left">
            <h1 class="d-flex justify-content-left">
                <p>Don't be a stranger, Come say Hello.</p>
              
                </h1>
        
                
        </mat-card>
      
       <mat-card-content>
        <div class="body_text">
            <span>Feel free to get in touch with us, We are always open to discuss new projects,</span>
        </div>

        
          <span class="body_text">creative ideas or opportunities to part of your visions.</span>
          
  
          <div class="body_help">Need help?</div>
          <a class="body_help" href="accenturesupport@accenture.com">accenturesupport@accenture.com</a>
        
        
          <div class="body_help">Feel free talking</div>
          <div class="body_help">+230-402-5300</div>

        </mat-card-content>
    </div>

    <div class="col-6">
      
     
        <div class="d-flex justify-content-center">
            <mat-card class="card-container"layout="row" layout-align="center">
         
                <mat-card-title class="d-flex justify-content-center">Contact Us</mat-card-title>
        
                
            <mat-form-field class="form_field">
                <input matInput placeholder="First Name"  [formControl]="" required>
               
   </mat-form-field><br/>
   
   <mat-form-field  class="form_field">
      <input matInput placeholder="Last Name"  [formControl]="" required>
     </mat-form-field>
<div>
  <mat-form-field class="form_field" > 
    <input matInput placeholder="Email"  [formControl]="" required>
   </mat-form-field>
</div>
     <div>
        <mat-form-field class="form_field">
            <textarea matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
     </div>
<div class="d-flex justify-content-center">
    <button mat-raised-button>Send Feedback</button>
</div>
</mat-card>














  </div>

    </div>



  </div>



</div>


</body>
<!-- <mat-card class="contact_form">
  
    <form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    
        <p class="title">Contact us</p>
      
     
        <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
          class="form-control mb-4" placeholder="Name">
      
     
        <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
          class="form-control mb-4" placeholder="E-mail">
      
    
        
        <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
          <option value="" disabled>Choose option</option>
          <option value="1" selected>Feedback</option>
          <option value="2">Report a bug</option>
          <option value="3">Feature request</option>
          <option value="4">Feature request</option>
        </select>
      
    
        <div class="form-group">
          <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
            rows="3" placeholder="Message"></textarea>
        </div>
        <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
          mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
      
      </form>
    
    </mat-card> -->